NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/gkfitsystem?schema=public"

JWT_SECRET="change-this-secret"
JWT_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:5173"

BCRYPT_SALT_ROUNDS=12

LOG_LEVEL="debug"